.gallery {
  padding: 4rem 2rem;
  text-align: center;
  color: #fff;
  position: relative;
}

.gallery-title {
  font-size: 3rem;
  text-align: left;
    border-bottom: 1px solid white;
    width: 100%;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 2rem;
  font-weight: lighter;
}

.gallery-grid {
  column-count: 4;         /* kolik sloupců */
  column-gap: 2%;        /* mezera mezi sloupci */
  max-width: 1100px;
  margin: 0 auto;
}

.gallery-item {
  width: 100%;
  margin-bottom: 10%;      /* mezera mezi obrázky pod sebou */
  border-radius: 8px;
  cursor: pointer;
  display: block;
  break-inside: avoid;     /* aby se obrázek nerozdělil */
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-image {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  user-select: none;
}

.modal-prev {
  left: 20px;
}

.modal-next {
  right: 20px;
}
